.socialLink + div {
	transition: transform 0.2s ease-out, opacity 0.1s ease-out;
	opacity: 0;
}

.socialLink:hover + div,
.socialLink:focus + div {
	transition: transform 0.3s ease-in-out, opacity 0.4s ease-in-out;
	transform: translateY(35px);
	opacity: 1;
}
